@import "../../variables.modules";

.pink {
  color: $pink;
}

.green {
  color: $green;
}

.skills {
  row-gap: 1;
  @media only screen and (min-width: 940px) {
    row-gap: 2;
  }

  li {
    margin: 0;
    line-height: 1.75;
  }
}